* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
  background-color: #35363a;
}

.app {
  background-image: url('img/wallpaper.png');
  -webkit-box-shadow: 0px 0px 53px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 53px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 53px -10px rgba(0,0,0,0.75);
}

.search-container {
  text-align: center;
}

.search {
  margin: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255);
  width: 250px;
  height: 30px;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  color: white;
}

.container {
  display: flex;
}

.icon-location {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.country {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon-location > p{
  font-size: 20px;
  margin: 0;
}

.datas {
  display: flex;
  width: 100%;
  background:rgba(255,255,255,.7);
  border-radius: 20px;
  margin: 0 15%;
  padding: 20px 0;
  flex-direction: column;
}

.data-text {
  font-size: 25px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.data-text > p {
  margin: 0;
}

.write-location {
  text-align: center;
  padding-bottom: 30px;
  color: rgb(235, 235, 235);
}

.temp-graphic {
  display: flex;
  flex-direction: column;
}
.graphic {
  width: 60%;
}
.graphic-box {
  display: flex;
  justify-content: center;
}
.forecast-days {
  display: flex;
  justify-content: space-around;
}

.forecast-day-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forecast-day-data > img {
  width: 70px;
}
.data-temp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.data-temp > img {
  width: 100px;
}
.data-temp-text {
  display: flex;
  flex-direction: column;
}
.data-temp-text > :nth-child(1) {
  font-size: 50px;
}
.wind-rain {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.329);
  padding: 10px;
  border-radius: 15px;
}
.wind-rain > span {
  margin: 20px 0 0 0;
}
@media screen and (max-width: 700px) {
  .app {
    margin: 0;

  }
  .data-text {
    text-align: center;
  }

  .datas {
    margin: 10px;
    padding: 10px 0;
  }
  .graphic {
    width: 100%;
  }
  .temp-forecast {
    display: flex;
    flex-direction: column;
  }
}